elpa
auto-save-list
bookmarks
anaconda-mode/
.lsp-session-v1
.extension/
.dap-breakpoints
.cache/
.DS_Store
.mc-lists.el
elpy/
games/
helm-curl.log
irony/
recentf
lisp/el-go/
lisp/org-reveal/
macros.el
projectile-bookmarks.eld
semanticdb/
transient/

*~
\#*
